@import "../../SCSS/colors.scss";
@import "../../SCSS/utils.scss";

.acordian {
  width: 100%;
  padding: 70px 45px;
  border-bottom: 8px solid $gray;

  .acordian__title {
    width: 100%;
    text-align: center;

    h1 {
      color: $white;
      font-size: 3.125rem;
      line-height: 1.1;
      margin-bottom: 0.5rem;
    }
  }
}
